KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/framebuffer.o \
$(ARCHDIR)/font8x16.o \
$(ARCHDIR)/ata.o \
